html, body {
    height: 100%;
    margin: 0;
}

.base-page {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 20px;
    flex-grow: 1;
    min-height: calc(100vh - 40px);
}

.base-container {
    background-color:  #eaeaea;
    padding: 10px;
}